.blog-container{
    display: flex;
    flex-direction: row;
    //gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    .single-blog{
        
        height: 500px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 23vw;
        margin: 5px 10px;
        text-align: left;
        .title{
            font-size: 18;
            font-weight: 500;
            padding: 10px 10px;
        }

        .body{
            padding: 10px 10px;
        }
        .view{
            
            margin: 10px 10px;
        }

    }
}