.blog-container {
    display        : flex;
    flex-direction : row;
    //gap: 10px;
    flex-wrap      : wrap;
    justify-content: center;

    .single-blog {

        height       : 500px;
        border       : 1px solid gray;
        border-radius: 5px;
        width        : 23vw;
        margin       : 5px 10px;
        text-align   : left;

        .title {
            font-size  : 18;
            font-weight: 500;
            padding    : 10px 10px;
        }

        .body {
            padding: 10px 10px;
        }

        .view {

            margin: 10px 10px;
        }

    }
}

.Blog-container {
    border       : 1px solid gray;
    border-radius: 5px;
    min-height   : 200px;
    width        : 1500px;

}

.Blog-container {
    div {
        padding: 20px;
        color  : aqua;
    }
}

.Add-new-block {
    margin: 20px;
}

.Add-New-Blog-Container {
    display       : flex;
    flex-direction: column;
    border        : 1px solid gray;
    border-radius : 5px;
    width         : 400px;

    .title {
        text-align: center;
    }

    .input {
        margin: 10px 15px;
    }

    .button {
        //width   : 200px;
        margin          : 15px 15px;
        background-color: burlywood;
    }

    .label {
        text-align : left;
        margin-left: 15px;
    }
}


.yt-search {
    input {
        outline: none;
        width  : 500px;
    }
}

.youtubeSearch-container {
    // border : 1px solid white;
    width  : 80%;
    display: flex;
    margin : 15px;

    .leff {
        // border: 1px solid red;
        width: 35%;

        .child-iframe {
            width : 500px;
            height: 300px;
        }
    }

    .right {
        width    : 65%;
        // border: 1px solid greenyellow;

        .detail {
            text-align: left;
            font-size : 18px;
            margin    : 20px 10px;

            &:first-child {
                margin: 0px 10px;
            }
        }

        .title {
            font-size  : 25px;
            font-weight: 500;
        }
    }
}